<a href="https://colab.research.google.com/github/RaviS1110/100DaysOfMLCode/blob/master/Coding%20Club%20AZ1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
print(" Hi") 
a=5**2
print ( "value of a:", a)

 Hi
value of a: 25

In [15]:
a=(512*126)/24
print (a)

2688.0

In [16]:
a=(512*126)//24
print (a)

2688

In [18]:
print("512 x 126/24:",512*126/24)

512 x 126/24: 2688.0

In [21]:
My_Name="Ravi"
Age=35
print(My_Name,"'s age is",Age)

Ravi 's age is 35

In [28]:
My_Name="Ravi"
Age=35
#print(My_Name,"after five year my age will be",Age+5)
print(My_Name,"'s age after 5 yesrs will be",Age+5)

print(type(Age))
type(Age)

Ravi 's age after 5 yesrs will be 40
<class 'int'>

int

In [33]:
initila_value=5
initila_value_5times=initila_value*5
print ("Initial value:",initila_value," initila_value_5times:",initila_value_5times )

Initial value: 5  initila_value_5times: 25

In [36]:
a="HI "* 5
print (a)

HI HI HI HI HI

In [1]:
x=2
y=x
x=3
print(y)

2